body {
	background-image: url("./sheshes.gif");
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

h2 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	/*margin: 0;*/
}

form {
	background-color: rgba(0,0,0,0.4);
	border-radius:8px;
	width: 450px;
	margin: auto;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
}

input, textarea {
	width: 100%;
	border: none;
	font-size: 1.1em;
	margin-bottom: 15px;
	padding: 6px;
	box-sizing: border-box;
}

textarea {
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
	font-size: 1.1em;
}

#boton {
	background-color: #111135;
	color: #fff;
	font-size: 1.2em;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 18px;
}

#boton:hover {
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 1.3em;
}

@media (max-width:480px) {
	form {
		width: 100%;
	}
}
